
@import url("https://fonts.googleapis.com/css2?family=Finlandica:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  font-family: "Finlandica", sans-serif;
  background: #131026;
  color: #fff;
}
/*?----------------- DISEÑO PARA EL NAVBAR--------------------*/

.navBarMenu {
    background-color: #0c0a18;

}
  
#navBarNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-toggler {
    background-color: #3d3a5661 !important;
}

.navbar-toggler:hover {
    background-color: #605d7c61 !important;
}

#icon {
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    width: 70px;
    height: 61px;
}

#icon:hover {
    transform: scale(0.95);
    transition: 0.3s;
}

.nav-link:hover {
    color: #fe8266 !important;
    transition: 0.3s;
}

.userC{
    height: 100%;
    display: flex;
    gap: 15px;
    align-items: center;
    margin-right: 20px;
}

.active{
    width: 12px;
    height: 12px;
    background-color: #00ffb3;
    border-radius: 50%;
}

/*?----------------- DISEÑO PARA LA PAGINA PRINCIPAL--------------------*/

#banner {
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 89vh;
    display: flex;
  }
  
  .containerPrincipal {
    position: absolute;
    top: 40%;
    right: 5%;
  }
  
  .titleH1 {
    text-shadow: 0 0 5px #030209;
    font-size: 100px;
    font-weight: 600;
    color: #c6c6c6;
    margin-bottom: 45px;
  }
  
  #btnPrincipal {
    border-radius: 40px;
    background-color: #c6c6c6;
    color: #030209;
    font-weight: 500;
  }
  
  #btnPrincipal:hover {
    background-color: #9f331e;
    color: #fff;
  }

  /*?----------------- DISEÑO PARA EL LOGIN Y REGISTRO--------------------*/

.titleLogin{
    text-align: center;
}

.ls-back {
    background-image: url(../images/ls-back-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ls-back-2 {
    background-image: url(../images/ls-back.jpg);
}

#modalC{
    height: 700px;
    background-color: #0c0a18e6;
}

.ls-container {
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: #0c0a18e6;
    height: 70%;
    width: 60%;
}

.ls-container-2 {
    display: grid;
    grid-template-rows: 100% 100%;
    /* flex-direction: column; */
    background-color: #0c0a18e6;
    width: 100%;
}

.ls-banner {
    background-image: url(../images/login-banner.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -23em;
}

.ls-banner-2 {
    background-image: url(../images/signup-banner.gif);
    background-size: cover;
    /* width: 100%; */
    /* height: 500px; */
}

.ls-info {
    display: flex;
    flex-direction: column;
}

.ls-img {
    background-image: url(../images/anime-user.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    margin: 20px auto;
}

.ls-img-2 {
    background-image: url(../images/anime-user-2.png);
}

.ls-data {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.ls-data2{
    margin-top: 50px;
}

#ls-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 5px 0;
}

#forRegistrar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

/* .div-input{
    margin-bottom: 1.5%;
} */

.username,
.password,
.email {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.username i,
.password i,
.email i {
    font-size: 20px;
    color: #ff933b;
}

.ls-inp {
    background-color: transparent;
    width: 60%;
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 3px 8px;
    color: #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
}

.ls-inp::placeholder {
    color: #fcbb8558;
}

#ls-btn, #ls-btn2 {
    margin-top: 10px;
    background-color: #ff8826;
    color: #fff;
    border-radius: 40px;
    font-size: 15px;
    font-weight: 500;
}

#ls-btn:hover {
    background-color: #ff7708;
}

.ls-foot {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.ls-foot p {
    margin: 0;
}

#ls-link {
    font-size: 17px;
    color: #4ad5ab;
}

#ls-link:hover {
    color: #2bae86;
}

/*?------------------- LISTAR ANIME----------------*/

.containerListAnime {
    margin-top: 20px;
    color: #fff;
  }
  
  .containerListAnime .row-container {
    background-color: #26243761;
    display: flex;
    justify-content: center;
    gap: 5%;
    padding: 30px 15px;
    margin-bottom: 5px;
  }
  
  .image img {
    border-radius: 5px;
  }

.titulos{
    text-align: center;
    margin-top: 10px;
}
  
  .content {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    gap: 10%;
  }
  
  .content h2 {
    color: #ff8826;
    font-weight: 600;
  }
  
  .content h4 {
    color: #9b9285;
  }
  
  .buttons {
    display: flex;
    gap: 3%;
  }
  
  #modelDialog {
    background-color: #201b3a;
  }
  
  #modalHeader {
    display: flex;
    justify-content: space-between;
    padding: 5px 5px 0 15px;
  }
  
  #btnclose {
    background-color: #fff;
  }
  
  #modalFooter {
    display: flex;
    justify-content: center;
    padding: 10px 0 15px;
    gap: 10px;
  }

/*?------------AGREGAR ANIMES-------*/

.agrAnime-back {
    background-image: url(../images/agr-Anime.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 95vh;
}

/*?---------ACTUALIZAR ANIME-------*/

.actAnime-back {
    background-image: url(../images/act-Anime.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 95vh;
  }
  
  .titulos {
    color: #c6c6c6;
  }
  
  #inputNombre,
  #inputDesc,
  #inputImage {
    background-color: #fffa;
    border: none;
    border-radius: 10px;
    color: #000;
  }
  
  #inputDesc {
    max-height: 140px;
  }
  
  #btns {
    background-color: #3f3663;
    border: 1px solid #4a4366;
    border-radius: 40px;
    color: #c6c6c6;
    margin: 0 auto;
  }
  
  #btns:hover {
    background-color: #2d2746;
    color: #fff;
  }

/*?--------LISTAR USUARIOS-------*/

.btn {
    border-radius: 40px !important;
  }
  
  .listUsuario-back {
    height: 40vh;
  }
  
  .containerListUsuarios {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: #fff;
  }
  
  .containerListUsuarios .row-container {
    background-color: #26243761;
    display: grid;
    grid-template-columns: 20% 40% 30%;
    width: 60%;
    gap: 5%;
    margin-bottom: 15px;
  }
  
  .imageUsuario {
    background-color: #2bae8748;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 30px;
  }
  
  .imageUsuario:hover {
    background-color: #ff933b48;
  }
  
  .imageUsuario img {
    margin-top: 14px;
    margin-left: 14px;
    width: 120px;
  }
  
  .content span {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
  }
  
  .content h5 {
    color: #2bae87;
  }
  
  .bannerUsuario {
    background-image: url(../images/user-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

/*?-----------PERFIL USUARIO---------*/

.perfilUsuario-back {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.container-perfil {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 85%;
  background-color: #26243761;
}

.img-Perfil {
  padding: 50px 0;
  background-image: url(../images/banner-perfil.png);
  width: 100%;
  text-align: center;
}

.img-Perfil img {
  border-radius: 50%;
  width: 150px;
  box-shadow: 1px 1px 10px #0c0a18;
}

.content-perfil {
  display: flex;
  justify-content: space-around;
}

.info-perfil {
  text-align: left;
}

.info-perfil h5 {
  margin-top: 40px;
  color: #2bae87;
}

.info-perfil span {
  font-weight: 300;
  color: #fff;
  margin-left: 8px;
}

.detallesP {
  background-color: #3b385661;
  padding: 8px 0;
  width: 100%;
  text-align: center;
}

.detallesP p {
  margin: 0;
}

.button-perfil {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

/* MODAL PERFIL USUARIO*/
.body-perfil {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 15px 30px;
}

.body-perfil p {
  text-align: left;
  margin-bottom: 5px;
}

.inp-perfil {
  margin-bottom: 15px;
  padding: 3px 8px;
  width: 245%;
  background-color: #fff8;
  border: none;
  border-radius: 10px;
  color: #000;
  outline: none;
}

